.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.vidText {
  transform: scaleX(-1);
}

.vidDisplay {
  border: 1px solid black;
  margin: 5px;
  transform: scaleX(-1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
